.h5peditor-keyword-extractor {
  display: block;
  .field-name-keywords {
    input {
      display: none;
    }
  }
  .extracted-keyword {
    padding: 0.4em;
    border: 2px solid green;
    margin: 0.5em 0.5em 0 0;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    &:after {
      color: gray;
      content: "\f00d";
      font-family: "H5PFontAwesome4", sans-serif;
      margin-left: 0.2em;
    }
  }
}
