@use "@styles/colors.scss" as colors;

.h5p-message-box {
  background-color: colors.$color-hint-message-background;
  border: 1px solid colors.$color-hint-message-border;
  box-sizing: border-box;
  color: colors.$color-hint-message-text;
  font-size: .8em;
  padding: .8em;

  .h5p-message-box-message {
    margin: 0;
    text-align: center;
  }
}
